<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestNGListner"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/manjpr/Documents/Parking-slot-booking-API/Parking-Slot-Booking-API/src/main/java">
        <classes>
            <class name="ProviderTest">
                <methods>
                    <include name="parkingstats"></include>
                </methods>
            </class>
        </classes>
    </test></suite>